@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.email{
    font-size: var(--lumo-font-size-s);
}

.bold{
    font-weight: bold;
}
.violatorList{
    height: 95%;
}

.violatorFooter{
    padding: 0.5vw;
    margin-top: 0.5vw;
}

.time {
  background-color: var(--lumo-contrast-20pct);
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin: 1vw 1vw 0vw 0vw;
  border-radius: 100vh;
  font-size:var(--lumo-font-size-s);
}